.userlink {
  display: flex;
  align-items: center;
}

.userlink__img {

}

.userlink__name {
  color: var(--orange);
  font-size: 10px;
  margin: 0 7px;
}

@media all and (min-width:1024px) {
  .userlink {

    margin-left: 10px;
  }

  .answer__item .userlink {
    order: 1 !important;
  }
}

@media all and (min-width: 1540px) {
  .userlink__name:hover {
    text-decoration: underline;
  }
}
